<!DOCTYPE HTML>

<html>
	<head>
		<title>An' card</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Nguyen Khanh An</h1>
						<p>Python Web Developer &nbsp;&bull;&nbsp; For-fun streamer &nbsp;&bull;&nbsp; Valorant Gamer</p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/Kinglector2002" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/imlector/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.twitch.tv/kinglector" class="icon brands fa-twitch"><span class="label">Twitch</span></a></li>
								<li><a href="https://github.com/lector2002" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:annguyenkhanh2002@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>